body{
    font-family: Montserrat;
    background-color: hotpink;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

}
h1{
  padding-left: 20px;
  margin-bottom: 0px;
}

h2{
    padding-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}

h4{
    margin-top: 0;
}
.filter{
    padding-left: 10px;
    padding-right: 10px;
    
}

.filter input{
    width: 100%;
    font-size: 16px;
}


input{
    width: 80%;
    padding: 12px 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.add{
    background-color: pink;
    width: 90%;
    text-align: center;
    margin: 25px;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    

}

.welcomePage{
    padding-top: 100px;
}

.welcome{
    background-color: white;
    height: 150px;
    width: 50%;
    padding: 15px;
    color: black;
    font-size: 16px;
    margin:auto;
    font-family: 'Open Sans', sans-serif;

    
}

.enter{
    float: right;
    text-decoration: none;
    font-size: 16px;
    color: pink;
}

.goBack{
    float: left;
    text-decoration: none;
    font-size: 16px;
    color: pink;
}

.icons{
    float: right;
    
}

.list{
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}

.list:hover{
    font-size: 150%;
    background-color: lightgray;
    /* border-radius: 10%; */
    

}

i.material-icons{
    bottom:-3px;
    position: relative;
    font-size: 18px;

}